/*
 * plugin "suggest-404-links" stylesheet
 */

/* admin side */
.suggest_404_links blockquote {
	border: 1px dotted #ccc;
	background: #f8f8f8;
	padding: 1em;
}

/* public side */
.suggest_404_links h1 {
	padding-top: 1em;
}

.suggest_404_links fieldset {
	margin: 2em 0;
	padding: 1em;
	border: 1px solid #ccc;
}
.suggest_404_links label {
	padding-bottom: 4px;
}
.suggest_404_links form {
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	padding: 0 2em;
}
.suggest_404_links form li {
	margin-bottom: 3px;
}